table {
    background-color:#FFCCCC;
    border: solid 2px silver;
    padding: 5px;
}

.rez {
    background-color:white;
    border: solid 1px black;
}

.pole{
    background-color: aliceblue;
    border: solid 1px black;
}


